.contenedor {
    width: 1250px;
    height: 650px;
    background-color: #0E0B16;
}

.header {
    width: 1200px;
    height: 120px;
    position: relative;
    font-size: xx-large;
}

.mainTitle {
    position: relative;
    color: #E7DFDD;
    top: 20px;
    left: 350px;
}

.main {
    width: 1200px;
    height: 520px;
    background-color: #E7DFDD;
    position: relative;
    top: -20px;
    left: 20px;
    font-size: medium;
}

.barra {
    background-color: #A239CA;
}