* {
    padding: 0;
    margin: 0;
}
.contenedor {
    width: 1250px;
    height: 830px;
    color: #E7DFDD;
    background-color: #0E0B16;
    display: flex;
    flex-direction: column;
}
.header {
    width: 1200px;
    height: 120px;
}
.main {
    width: 1200px;
    height: 915px;
    background-color: #E7DFDD;
}
.barra {
    list-style: none;
    overflow: hidden;
    background-color: #813772;
}
.menu li {
    display: inline-block;
}
.menu li a {
    display: block;
    padding: 10px;
}
.menu li a:hover {
    background-color: #0E0B16;
}
.submenu-menu {
    display: none;
}
.mainContent {
    width: 1200px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content {
    width: 1160px;
    height: 180px;
    background-color: #062F4F;
}
.seeMore {
    display: none;
}
.ordenar {
    height: 625px;
    display: none;
}