* {
    padding: 0;
    margin: 0;
}
.contenedor {
    width: 1250px;
    height: 830px;
    color: #E7DFDD;
    background-color: #0E0B16;
    display: flex;
    flex-direction: column;
}
.header {
    width: 1200px;
    height: 120px;
    display: flex;
    justify-content: center;
}
.mainTitle {
    width: 300px;
}
.main {
    width: 1200px;
    height: 915px;
    margin: auto;
    background-color: #E7DFDD;
}
.barra {
    list-style: none;
    overflow: hidden;
    background-color: #813772;
}
.menu {
    position: relative;
    margin: auto;
}
.menu li {
    display: inline-block;
}
.menu li a {
    display: block;
    padding: 10px;
}
.menu li a:hover {
    background-color: #0E0B16;
}
.menu li a ul {
    position: absolute;
    top: 30px;
}
.submenu-menu {
    position: absolute;
    top: 80px;
    left: 350px;
    padding: 10px;
    background-color: #0E0B16;
}
.mainContent {
    width: 1200px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content {
    width: 1160px;
    height: 140px;
    margin: auto;
    background-color: #062F4F;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.welcome {
    flex-direction: column;
}
h2 {
    width: 400px;
}
p {
    width: 900px;
    margin: auto;
}
.button {
    background-color:#0E0B16;
    color: #E7DFDD;
}
.seeMore {
    height: 160px;
}
.mainButtons {
    display: flex;
    justify-content: space-around;
}
.houseB {
    display: inline-block;
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.gryf {
    background-image: url(./img/gryf.jpg);
}
.huff {
    background-image: url(./img/huff.jpg);
}
.rave {
    background-image: url(./img/rave.jpg);
}
.slyt {
    background-image: url(./img/slyt.jpg);
}
.linajeB {
    height: 30px;
    width: 120px;
    color: #E7DFDD;
    background-color: #062F4F;
}
.ordenar {
    height: 625px;
}